.game-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.game-player-title {
  width: 30%;
  text-align: center;
  padding: 10px 0px;
  background-color: #ff755e;
  border-radius: 50px;
}
